*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#0a0a0a;
  color:white;
}

/* NAV */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 8%;
  background:#000;
}

.logo{
  color:#00a8ff;
  font-size:28px;
  font-weight:700;
}

.nav-links{
  display:flex;
  gap:20px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

/* SEARCH + FILTER */
.top-bar{
  padding:20px;
  text-align:center;
}

.search-box{
  margin-bottom:15px;
}

.search-box input{
  padding:10px;
  width:250px;
  border-radius:20px;
  border:none;
}

.search-box button{
  padding:10px 15px;
  border:none;
  border-radius:20px;
  background:#00a8ff;
  color:white;
  cursor:pointer;
}

.filters a{
  margin:5px;
  padding:8px 12px;
  background:#111;
  border-radius:20px;
  text-decoration:none;
  color:white;
}

/* PRODUCTS */
.products{
  padding:50px 8%;
}

.products h2{
  text-align:center;
  font-size:40px;
  margin-bottom:40px;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.product-card{
  background:#111;
  padding:20px;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
}

.product-card:hover{
  transform:scale(1.03);
}

.product-card img{
  width:100%;
  border-radius:10px;
}

.price{
  color:#00a8ff;
  font-size:22px;
  margin:10px 0;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  background:#00a8ff;
  color:white;
  cursor:pointer;
}

.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  flex-wrap:wrap;
  gap:15px;
}

/* FILTERS LEFT */
.filters{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

/* SEARCH RIGHT */
.search-box{
  display:flex;
  gap:10px;
  margin-left:auto;
}

.search-box input{
  padding:10px;
  width:220px;
  border-radius:20px;
  border:none;
  outline:none;
}

.search-box button{
  padding:10px 15px;
  border:none;
  border-radius:20px;
  background:#00a8ff;
  color:white;
  cursor:pointer;
}