<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Cart</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1>Your Cart</h1>

{% for item in cart %}

<div class="card">

  <h3>{{ item[1] }}</h3>
  <p>{{ item[2] }} €</p>

  <a href="/remove/{{ item[0] }}">
    <button style="background:red;">Remove</button>
  </a>

</div>

{% endfor %}

<h2>Total: {{ total }} €</h2>

<a href="/checkout">
  <button>Checkout</button>
</a>

</body>
</html>